<body>
  <style>
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 2.1rem;
    }
    h3 {
      font-size: 2.7rem;
    }
    h4 {
      font-size: 1.3rem;
    }
    h5 {
      font-size: 1.1rem;
    }
  </style>
  <p id="Md" class="mb-8 leading-relaxed text-left"><% return (data.body)%></p>
</body>
