<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes App</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include('partials/navbar')%>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 flex flex-wrap mx-auto">
        <%folderData.map(val=>{%>
        <div class="flex bg-slate-700">
          <form action="/folder/delete/<%=val._id%>" method="post">
            <button
              type="submit"
              class="h-16 w-16 text-xl rounded mx-16 bg-red-400"
            >
              🗑️
            </button>
          </form>
          <a href="/folder/<%=val.name%>">
            <div
              class="w-52 h-52 bg-slate-700 items-end flex justify-center my-3 mx-3"
            >
              <h1 class="text-3xl text-white"><%=val.name%></h1>
            </div></a
          >
        </div>
        <%})%>
        <a href="/folder/new">
          <div
            class="w-52 h-52 bg-red-700 rounded-full flex text-center justify-center items-center text-white my-3 mx-3"
          >
            <svg width="100" height="100">
              <line
                x1="50"
                y1="20"
                x2="50"
                y2="80"
                stroke="white"
                stroke-width="15"
              />
              <line
                x1="20"
                y1="50"
                x2="80"
                y2="50"
                stroke="white"
                stroke-width="15"
              />
            </svg>
          </div>
        </a>
      </div>
    </section>
  </body>
</html>
