<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes App</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <header class="text-gray-600 body-font">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
      >
        <a
          class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
            ></path>
          </svg>
          <span class="ml-3 text-xl">Notes APP</span>
        </a>
        <nav
          class="md:ml-auto flex flex-wrap items-center text-base justify-center"
        >
          <a href="/" class="mr-5 hover:text-gray-900">Home</a>
          <a href="/notes/" class="mr-5 hover:text-gray-900">Notes</a>
          <a href="/notes/createNote" class="mr-5 hover:text-gray-900"
            >Create a note</a
          >
        </nav>
      </div>
    </header>
    <div class="flex">
      <form action="/notes/delete/<%=data._id%>" method="post">
        <button
          type="submit"
          class="h-16 w-16 text-xl rounded mx-16 bg-red-400"
        >
          🗑️
        </button>
      </form>
      <form action="/notes/edit/<%=data._id%>" method="edit">
        <button
          type="submit"
          class="h-16 w-16 text-xl rounded mx-16 bg-green-400"
        >
          🖊
        </button>
      </form>

      <button
        id="copyButton"
        class="h-16 w-auto px-4 text-xl rounded mx-16 bg-slate-200"
        title="Click to copy"
      ></button>
    </div>
    <section class="text-gray-600 body-font">
      <div
        class="container mx-auto flex px-5 py-2 items-center justify-center flex-col"
      >
        <div class="text-center lg:w-2/3 w-full">
          <h1
            class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
          >
            <%=data.title%>
          </h1>
          <%- include('partials/note') %>
        </div>
      </div>
    </section>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/2.0.2/marked.min.js"></script>
  <script>
    const htmlInput = document.getElementById("Md").innerHTML;
    const markdownOutput = marked(htmlInput);
    document.getElementById("Md").innerText = markdownOutput;

    // var text = document.getElementById("Md").innerHTML;
    // document.getElementById("Md").innerHTML = marked(text);
  </script>
  <script>
    const copyButton = document.getElementById("copyButton");
    const currentURL = window.location.href; // Get the current page URL
    copyButton.innerHTML = currentURL;
    copyButton.addEventListener("click", () => {
      navigator.clipboard
        .writeText(currentURL)
        .then(() => {
          // Success message (optional)
          console.log("URL copied to clipboard!");
        })
        .catch((err) => {
          // Error handling (optional)
          console.error("Failed to copy text: ", err);
        });
    });
  </script>
</html>
