<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      #Md h1 {
        font-size: 2.5rem;
      }
      #Md h2 {
        font-size: 2.1rem;
      }
      #Md h3 {
        font-size: 2.7rem;
      }
      #Md h4 {
        font-size: 1.3rem;
      }
      #Md h5 {
        font-size: 1.1rem;
      }
    </style>
  </head>
  <body>
    <%- include('partials/navbar')%>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-12 mx-auto">
        <div class="flex flex-wrap -m-4">
          <!-- this is a card -->
          <% data.map(val=>{ %>

          <div class="p-4 text-wrap md:w-1/3">
            <div
              class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden"
            >
              <div class="p-6 text-pretty w-full">
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                  <%= val.title%>
                </h1>
                <p id="Md" class="leading-relaxed mb-3">
                  <%= val.body.slice(0,200)%>....
                </p>
                <div class="flex items-center flex-wrap">
                  <a
                    href="/notes/<%=val._id%>"
                    class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0"
                    >see notes →
                  </a>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </section>
  </body>
</html>
